<!-- footer part here -->
<footer class="footer_section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-3 col-sm-6 wow fadeInDown" data-wow-delay=".3s">
                <div class="single_footer_widget">
                    <a href="index.html" class="footer_logo"><img src="images/anak-hebat-logo.svg" alt="Playgroup & Taman Kanak-Kanak Anak Hebat"></a>
                    <p>Playgroup & Taman Kanak-Kanak Anak Hebat.</p>
                    <p>Oleh Yayasan Pendidikan Putra Putri Hebat (YP3H).</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 wow fadeInDown" data-wow-delay=".5s">
                <div class="single_footer_widget footer_nav">
                    <h4>Tautan</h4>
                    <ul>
                        <li><a href="index.html">Beranda</a></li>
                        <li><a href="tentang.html">Tentang Kami</a></li>
                        <li><a href="kurikulum-plus.html">Kurikulum Plus</a></li>
                        <li><a href="sekolah-anak-hebat.html">Sekolah Anak Hebat</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInDown" data-wow-delay=".7s">
                <div class="single_footer_widget footer_nav">
                    <h4>Sekolah Unggulan</h4>
                    <p>Make a smart generation, independent, and cultured children.</p>
                    <p>Early childhood education is the way to care Golden Generation.</p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 wow fadeInDown" data-wow-delay=".9s">
                <div class="single_footer_widget">
                    <img src="images/anak-hebat-lion.svg" class="lion" alt="Playgroup & Taman Kanak-Kanak Anak Hebat">
                </div>
            </div>
            <div class="col-lg-12 wow fadeInDown" data-wow-delay=".3s">
                <div class="copyright_part text-center">
                    <p>&copy; PGTK Anak Hebat - YP3H - 2022. Hak cipta dilindungi Undang-Undang.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_animation_1">
        <div data-parallax='{"x": 2, "y": 50, "rotateZ":0}'><img src="img/footer_icon_1.png" alt="#"></div>
    </div>
    <div class="footer_animation_2">
        <div data-parallax='{"x": 10, "y": 40, "rotateZ":0}'><img src="img/footer_icon_2.png" alt="#"></div>
    </div>
    <div class="footer_animation_3">
        <div data-parallax='{"x": 30, "y": 70, "rotateZ":0}'><img src="img/footer_icon_3.png" alt="#"></div>
    </div>
</footer>