<!-- jquery slim -->
<script src="js/jquery-3.5.1.min.js"></script>
<!-- popper js -->
<script src="js/popper.min.js"></script>
<!-- bootstarp js -->
<script src="js/bootstrap.min.js"></script>
<!-- nice select -->
<script src="js/niceselect/js/jquery.nice-select.min.js"></script>
<!-- owl carousel js -->
<script src="js/owl_carousel/js/owl.carousel.min.js"></script>
<!-- parallax js -->
<script src="js/parallax/jquery.parallax-scroll.js"></script>
<script src="js/parallax/parallax.js"></script>
<!-- wow js -->
<script src="js/wow/wow.min.js"></script>
<!-- isotop js -->
<script src="js/isotop/imagesloaded.pkgd.min.js"></script>
<script src="js/isotop/isotope.pkgd.js"></script>
<!-- magnify popup js -->
<script src="js/magnify_popup/jquery.magnific-popup.js"></script>
<!-- custom js -->
<script src="js/custom.js"></script>